@page "/"
@inject HttpClient Http

<PageTitle>Extensions</PageTitle>

<h2>Our Chrome Extensions</h2>
<p>Explore our range of Chrome extensions designed to enhance your browsing experience.</p>
@code {

    protected override async Task OnInitializedAsync()
    {
        // Delay 10s
        // await Task.Delay(10000);
    }
}