@page "/"
@using System.Net.Http.Json
@inject HttpClient Http

<PageTitle>Blogs</PageTitle>

<h3>Blog</h3>

@if (posts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ul>
        @foreach (var post in posts)
        {
            <li>
                <h4>@post.Title</h4>
                <p>@post.Content</p>
            </li>
        }
    </ul>
}

@code {
    private List<BlogPost>? posts;

    protected override async Task OnInitializedAsync()
    {
        posts = await Http.GetFromJsonAsync<List<BlogPost>>("sample-data/blogposts.json");
    }

    public class BlogPost
    {
        public string Title { get; set; }
        public string Content { get; set; }
    }
}