@page "/terms-of-service"

<PageTitle>Terms of Service</PageTitle>

<h2>Terms of Service</h2>

<h3>Introduction</h3>
<p>Welcome to TRINHNV. By using our services, you agree to comply with and be bound by the following terms and conditions.</p>

<h3>Use of Services</h3>
<p>You agree to use our services only for lawful purposes and in a way that does not infringe the rights of, restrict, or inhibit anyone else's use and enjoyment of the services.</p>

<h3>Intellectual Property</h3>
<p>All content included on this site, such as text, graphics, logos, and images, is the property of TRINHNV or its content suppliers and protected by international copyright laws.</p>

<h3>Termination</h3>
<p>We may terminate or suspend access to our services immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the terms.</p>

<h3>Changes to Terms</h3>
<p>We reserve the right to modify these terms at any time. You should check this page regularly to ensure you are aware of any changes.</p>

<h3>Contact Us</h3>
<p>If you have any questions about these Terms, please contact us at <a href="mailto:blackwitch145@gmail.com">blackwitch145@gmail.com</a>.</p>